<html>
    <head> 
    <title> Sureshnaloor's django blog</title>
    </head>
    
    <body>
        <div>
            <h1> <a href=""> Suresh Naloor's blog </a></h1>
        </div>
        
        <div>
            <p>published: 04.03.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> This is a testn post I am learning django, and put up this test blog </p>
        </div>
        
        <div>
            <h2><a href="">My first post</a></h2>
            <p> Hi there hello world!</p>
            <p> It works! My django url works! </p>
    
        </div>
    
        
    </body>

</html>